.tabs {
  display: flex;
  gap: 0.25rem;
  &__item {
    height: 1.75rem;
    font-size: 0.8125rem;
    padding: 0 0.75rem;
    color: #0f0f0f;
    display: flex;
    cursor: pointer;
    text-align: center;
    align-items: center;
    gap: 0.25rem;
    &--active {
      border-block-end:1px solid #2196f3;
    };
  }
}

.tabpanel {
  margin-block-start: 1rem;
}
